.root {
	border: solid 1px black;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	width: 800px;
	gap: 12px;
}

.contentSection {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #b8b7c1;
}

.footerSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
