.modalContainer {
	width: 500px;
	height: auto;
	min-height: 200px;
	background-color: #fff;
	border-radius: 12px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.modalBtnSection {
	margin-top: auto;
}
